 /* TON CODE CSS */
        .question-container {
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translate(-50%, -50%); /* Ajout pour centrer vraiment */
            transition: 0.2s;
            text-align: center;
        }
        .local-gif {
            width: 100%;
            max-width: 300px;
            border-radius: 10px;
            display: block;
            margin: 0 auto 3rem auto;
            pointer-events: none;
        }
        .question {
            font-size: 2.5rem; /* Ajusté pour écran standard */
            margin-bottom: 1rem;
            color: #d81b60;
        }
        .button-container {
            display: flex;
            justify-content: center;
            gap: 1.5rem;
            position: relative;
            height: 100px;
        }
        .btn {
            border: none;
            border-radius: 50px;
            padding: 14px 24px;
            font-size: 18px;
            cursor: pointer;
            transition: all 0.3s ease;
            background-color: #ff54a4;
            color: white;
            box-shadow: 0px 4px 15px rgba(255, 107, 129, 0.5);
        }
        .btn:hover { transform: scale(1.1); }
