.question-container {
    position: absolute;
    top: 40%;
    left: 50%;
    transition: 0.2s;
}
.local-gif{
    width: 100%;
    max-width: 300px;
border-radius: 10px;
display: block;
margin: 0 auto 3rem auto;
pointer-events: none;
}
.question {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}
.button-container{
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}
.btn{
    position: absolute;
    border: none;
    border-radius: 50px;
    padding: 14px 24px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #ff54a4;
    color:white;
    transform: scale(1.05);
    box-shadow: 0px 4px 15px rgba(255, 107, 129, 0.5);
}
